[user]
	email = 30857718+ryanvelbon@user.noreply.github.com
	name = Ryan Vel Bon
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = vim
